.App {
  text-align: center;
  max-width: 900px;
  background: #cdc6c6;
  margin: 0 auto;
  min-height: 900px;
  border-radius: 50px;
  border: 5px solid rgba(0, 0, 0, 0);
  padding: 20px;
  .main {
    margin-top: 20px;
    border: 4px solid black;
    background-color: aliceblue;
    border-radius: 30px;
    padding: 40px;
    position: relative;
  }
}
